@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 >Encontre o imóvel dos seus sonhos </h1> <br />
    <p>Na Click Imóveis, sua jornada para encontrar o lar ideal começa com confiança e qualidade em cada detalhe.</p>
</div> <br />

<div class="container mt-4">
    <div class="text-center mb-4">
        <h2 class="fw-bold">Veja as opções disponíveis</h2>
    </div>
    <br />
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Card 1 -->
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-img-top">
                    <img src="~/img/Casas-com-piscinas-e-varanda-gourmet.-Fonte-Revista-Viva-Decora.jpg" class="w-100" alt="Imagem Imóvel 1" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Casa com Piscina</h5>
                    <p class="card-text">3 quartos, 2 banheiros, varanda gourmet e garagem para 2 carros.</p>
                    <p class="text-success fw-semibold">R$ 500.000</p>
                    <div class="text-end">
                        <a href="#" class="btn btn-outline-primary btn-sm">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-img-top">
                    <img src="~/img/apartamento moderno.jpg" class="w-100" alt="Imagem Imóvel 2" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Apartamento Moderno</h5>
                    <p class="card-text">2 quartos, condomínio com piscina, academia e portaria 24h.</p>
                    <p class="text-success fw-semibold">R$ 330.000</p>
                    <div class="text-end">
                        <a href="#" class="btn btn-outline-primary btn-sm">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-img-top">
                    <img src="~/img/chácara.webp" class="w-100" alt="Imagem Imóvel 3" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Chácara Espaçosa</h5>
                    <p class="card-text">Área verde, 4 quartos, espaço para eventos e churrasqueira.</p>
                    <p class="text-success fw-semibold">R$ 750.000</p>
                    <div class="text-end">
                        <a href="#" class="btn btn-outline-primary btn-sm">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
